{% extends "layout.html" %}

{% block title %}
    User's Portfolio
{% endblock %}

{% block main %}

    <h1>{{ user }}'s Portfolio</h1>

    <main class="container py-5 text-center">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th text-align="center">Symbol</th>
                    <th text-align="center">Shares Quantity</th>
                    <th text-align="center">Price</th>
                    <th text-align="center">TOTAL</th>
                </tr>
            </thead>
        <tbody>
            {% for row in groupedstockquantity %}
                <tr>
                    <td text-align="center">{{ row["stock_symbol"] }}</td>
                    <td text-align="center">{{ row["quantity"] }}</td>
                    <td text-align="center">{{ row["stock_price"] | usd }}</td>
                    <td text-align="center">{{ total_cash_per_stock_symbol_dict[row["stock_symbol"]] }} </td>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end"> {{ cash }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Portfolio Total Value</td>
                    <td class="border-0 w-bold text-end">{{ total_value }}</td>
                </tr>
            </tfoot>
        </table>

{% endblock %}
